{% extends "base.html" %}

{% block content %}
<div class="modal fade" id="create-container-modal" tabindex="-1" role="dialog" aria-labelledby="container-modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="container-modal-label">Create Container</h4>
			</div>
			<form method="POST" action="{{ request.script_root }}/containers/new" enctype="multipart/form-data">
				<div class="modal-body">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" name="name" placeholder="Enter container name">
						</div>
						<div class="form-group">
							<label for="buildfile-editor" class="control-label">Build File</label>
							<textarea id="buildfile-editor" class="form-control" name="buildfile" rows="10" placeholder="Enter container build file"></textarea>
						</div>
						<div class="form-group">
							<label for="container-files">Associated Files
								<i class="fa fa-question-circle gray-text" data-toggle="tooltip" data-placement="right" title="These files are uploaded alongside your buildfile"></i>
							</label>
							<input type="file" name="files[]" id="container-files" multiple>
							<sub class="help-block">Attach multiple files using Control+Click or Cmd+Click.</sub>
						</div>
						<input type="hidden" value="{{ nonce }}" name="nonce" id="nonce">
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="import-container-modal" tabindex="-1" role="dialog" aria-labelledby="container-modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="container-modal-label">Import Image</h4>
			</div>
			<form method="POST" action="{{ request.script_root }}/containers/import" enctype="multipart/form-data">
				<div class="modal-body">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" name="name" placeholder="Enter image name">
						</div>
						<input type="hidden" value="{{ nonce }}" name="nonce" id="nonce">
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div id="confirm" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="text-center"><span id="confirm-container-title"></span> Container</h2>
			</div>
			<div class="modal-body" style="height:110px">
				<div class="row-fluid">
					<div class="col-md-12">
						<form method="POST">
							<input id="nonce" type="hidden" name="nonce" value="{{ nonce }}">
							<div class="small-6 small-centered text-center columns">
								<p>Are you sure you want to <span id="confirm-container-method"></span> <strong id="confirm-container-name"></strong>?</p>
								<button type="button" data-dismiss="modal" class="btn btn-theme btn-outlined">No</button>
								<button type="button" id="confirm-container" class="btn btn-theme btn-outlined">Yes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row m-3">
	<br>
	<div style="text-align:center">
		<h1>Containers</h1>
		<button class="btn btn-theme btn-outlined create-challenge" data-toggle="modal" data-target="#create-container-modal">
			New Container
		</button>
		<button class="btn btn-theme btn-outlined create-challenge" data-toggle="modal" data-target="#import-container-modal">
			Import Image
		</button>
	</div>
	<br>
{% if containers %}
	<table id="teamsboard">
		<thead>
			<tr>
				<td class="text-center pr-2"><strong>Status</strong>
				</td>
				<td class="text-center pr-2"><strong>Name</strong>
				</td>
				<td class="text-center pr-2"><strong>Ports</strong>
				</td>
				<td class="text-center pr-2"><strong>Settings</strong>
				</td>
			</tr>
		</thead>
		<tbody>
		{% for c in containers %}
			<tr>
				<td class="text-center">{{ c.status }}</td>
				<td class="text-center container_item" id="{{ c.id }}">{{ c.name }}</td>
				<td class="text-center">{{ c.ports }}</td>
				<td class="text-center">
					<span>
						{% if c.status != 'running' %}
						<i class="fa fa-play pr-2"></i>
						{% else %}
						<i class="fa fa-stop pr-2"></i>
						{% endif %}
						<i class="fa fa-times"></i>
					</span>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>

function load_confirm_modal(title, url, container_name){
	var modal = $('#confirm')
	modal.find('#confirm-container-name').text(container_name)
	modal.find('#confirm-container-title').text(title)
	modal.find('#confirm-container-method').text(title.toLowerCase())
	$('#confirm form').attr('action', url);
	$('#confirm').modal('show');
}

$('#confirm-container').click(function(e){
	e.preventDefault();
	var id = $('#confirm input[name="id"]').val()
	var user_data = $('#confirm form').serializeArray()
	$.post($('#confirm form').attr('action'), $('#confirm form').serialize(), function(data){
		var data = $.parseJSON(JSON.stringify(data))
		if (data == "1"){
			location.reload()
		}
	})
});


$('.fa-times').click(function(){
	var elem = $(this).parent().parent().parent().find('.container_item');
	var container = elem.attr('id');
	var container_name = elem.text().trim();
	load_confirm_modal('Delete', '/containers/'+container+'/delete', container_name)
});

$('.fa-play').click(function(){
	var elem = $(this).parent().parent().parent().find('.container_item');
	var container = elem.attr('id');
	var container_name = elem.text().trim();
	load_confirm_modal('Start', '/containers/'+container+'/start', container_name)
});

$('.fa-stop').click(function(){
	var elem = $(this).parent().parent().parent().find('.container_item');
	var container = elem.attr('id');
	var container_name = elem.text().trim();
	load_confirm_modal('Stop', '/containers/'+container+'/stop', container_name)
});

$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});

</script>
{% endblock %}
